.navbar {
  padding: 20px 1rem;
  margin: auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
}

.brand > img {
  height: 50px;
  margin-right: 15px;
}

.brand-name {
  color: #fff;
}

.S9gUrf-YoZ4jf {
  margin-right: 10px;
}

@media screen and (max-width: 400px) {
  .S9gUrf-YoZ4jf iframe {
    width: 200px !important;
  }

  .brand > img {
    height: 50px;
    margin-right: 5px;
  }
}
